
.icon-ok:before { content: '\e800'; } /* '' */
.icon-lamp:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-right-hand:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */